.header {
  color: purple;
  color: red;
  /* text-shadow: honeydew;
  font-size: 28px;
  box-sizing: border-box;
  outline: 0;
} */
}

.btn {
  background-color: rgb(224, 199, 199);
  color: black;
  padding: 30px 40px;
  margin-top: 20px;
  border: 2px;
  border-radius: 10px;
  font-size: 50px;
  margin-right: 10px;
}
.btn1 {
  background-color: rgb(224, 199, 199);
  color: black;
  padding: 30px 40px;
  margin-top: 20px;
  border: 2px;
  border-radius: 10px;
  font-size: 50px;
  margin-right: 10px;
}
.btn2 {
  background-color: rgb(224, 199, 199);
  color: black;
  padding: 30px 40px;
  margin-top: 20px;
  border: 2px;
  border-radius: 10px;
  font-size: 50px;
  margin-right: 10px;
}
.btn3 {
  background-color: rgb(224, 199, 199);
  color: black;
  padding: 30px 40px;
  margin-top: 20px;
  border: 2px;
  border-radius: 10px;
  font-size: 50px;
  margin-right: 10px;
}
.btn4 {
  background-color: rgb(224, 199, 199);
  color: black;
  padding: 30px 40px;
  margin-top: 20px;
  border: 2px;
  border-radius: 10px;
  font-size: 50px;
  margin-right: 10px;
}
.btn5 {
  background-color: rgb(224, 199, 199);
  color: black;
  padding: 30px 40px;
  margin-top: 20px;
  border: 2px;
  border-radius: 10px;
  font-size: 50px;
  margin-right: 10px;
}
